body{
    background-color: #00102A;
}
body ::-webkit-scrollbar-track {
  background: rgba(0,0,0,.5);
}
body ::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}
body ::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
.transparent{
    background-color: transparent
}
.clip-text{
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}
.overflow-x-scroll{
  overflow-x:auto;
}
.vgocean-icon{
  margin-right:3px;
}
.icon-toggled{
  box-shadow: 2px 2px 1px lightgrey;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="or lower hidden"] {
      display: none !important;
    }
}
  
  /* Tablet / iPad Portrait */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    [class*="tablet hidden"], {
      display: none !important;
    }
  }
  
  /* Computer / Desktop / iPad Landscape */
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    [class*="computer hidden"], {
      display: none !important;
    }
  }
  
  /* Large Monitor */
  @media only screen and (min-width: 1200px) and (max-width: 1919px) {
    [class*="large screen hidden"],
    [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
      display: none !important;
    }
  }
  
  /* Widescreen Monitor */
  @media only screen and (min-width: 1920px) {
    [class*="widescreen hidden"],
    [class*="widescreen or lower hidden"] {
      display: none !important;
    }
  }