#table-games{
    color:#EFEFD9;
    background-color:transparent;
    border-radius: 0 !important; 
    border-color:#747C92;
    margin:0 !important;
}
.segment-table{
    width:100%;
    border-radius: 0 !important;
    margin:0 !important;
    color:#EFEFD9;
    background:transparent !important;
    border:none!important;
}
.table-games-cell{
    display: inline-flex;
    align-items: center;
}
.table-games-header{
    background-color: #747C92 !important;
}
.sidebar-ocean{
    margin:0 !important;
    height:100vh;
    padding-top:20px;
    background-color: #747C92 !important;
}
.sidebar-header{
    text-align:center;
}
.active.item{
    border-color:#94C595 !important;
    border-right-width: 5px !important;
}
.sidebar-item{
    color:#94C595 !important;
    font-size: 1.2em;
}
.table-game-thumb{
    padding-left:10px;
}