@font-face {
  font-family: Sabo;
  src: url("../../fonts/Sabo-Regular.otf") format("opentype");
}

#page-title{
  font-size: 2em;
  font-family: Sabo;
  color:#94C595;
}

.nav {
  height: 50px;
  background-color: #747C92;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  vertical-align: middle;
  padding-left:10px;
  padding-right:3px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav > .nav-links > a, .ui.dropdown {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
}
.nav > .nav-log-modal {
    display: inline-block;
    float: right;
}
.nav > #nav-check {
  display: none;
}
@media (min-width:769px){
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 18px;
}
}
@media (max-width:768px) {
  .nav > .nav-btn {
    display: inline-block;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    padding: 13px 13px;
  }

  .nav > .nav-links > a:hover {
    background-color: rgb(31, 31, 31);
    padding-bottom: 18px;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: transparent;
    z-index: 5;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a, .ui.dropdown {
    display: block;
    width: 100%;
    background-color: #4d4d4d;
    color: #efefef;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#signin {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  color: #efefef;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signin:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 18px;
  border-radius: 5%;
}
