@import url('https://fonts.googleapis.com/css?family=Montserrat');

.nav {
  height: 50px;
  background-color: #747C92;
  position: relative;
  z-index:20
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  vertical-align: middle;
  padding-left:10px;
  padding-right:3px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif !important;
}
.nav > .nav-links > a , .content > a{
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  text-shadow: 2px 2px rgb(5, 13, 58);
  color:#e1e1fa;
}
.nav > .nav-log-modal {
    display: inline-block;
    float: right;
}
.nav > #nav-check {
  display: none;
}
.create-dropdown, #header-dropdown-item > a {
  text-shadow: 2px 2px rgb(5, 13, 58);
  color: #e1e1fa;
  padding: 13px 10px;
}
#header-dropdown-item,.menu.transition.visible{
  background-color: #747C92;
  border-color: #747C92;
}
@media (min-width:769px){
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 18px;
  }
}
@media (max-width:991px) {
  .nav > .nav-btn {
    display: inline-block;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    padding: 13px 13px;
  }

  .nav > .nav-links > a:hover, .create-dropdown:hover, .content > a:hover {
    background-color: rgb(31, 31, 31);
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: transparent;
    z-index: 5;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a, .create-dropdown, .item > a, .content > a{
    display: block;
    width: 100%;
    background-color: #4d4d4d;
    text-shadow: 2px 2px rgb(5, 13, 58);
    color: #e1e1fa;
    border-radius: 0%;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#signin {
  display: inline-block;
  padding: 13px 10px;
  text-decoration: none;
  text-shadow: 2px 2px rgb(5, 13, 58);;
  color: #e1e1fa;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

#signin:hover {
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 18px;
  border-radius: 5%;
}

.create-accordion .title:not(.ui) {
  padding: .5em 0;
  font-family: Montserrat,sans-serif !important;
  background-color: #4d4d4d;
  font-size: 1.2em;
  text-decoration: none;
  text-shadow: 2px 2px rgb(5, 13, 58);
  color: #e1e1fa !important;
}

.create-accordion .content {
  background-color: #4d4d4d;
}

.create-accordion .content a{
  color: #e1e1fa;
  text-shadow: 2px 2px rgb(5, 13, 58);
  font-size: 1em;
  padding-left: 45px;
}

/* for mobile devices */
@media only screen and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .create-dropdown{
    display: none !important;
  }
}

/* large screen devices */
@media only screen and (min-width: 992px) and (max-width: 1199px), 
only screen and (min-width: 1200px) and (max-width: 1919px),
only screen and (min-width: 1920px) {
  .create-accordion{
    display: none !important;
  }
}
